/* Textdesign */
.contact {
    font-size: 20px;
    color: white;
    text-align: center;
    font: "Lato", sans-serif;
    text-decoration: none;
}

.about a {
    color: white;
    font-size: 20px;
    text-align: center;
    font: "Lato", sans-serif;
    position: absolute;
    right: 20%;
    left: 20%;
}

a[href^="mailto:"]
{ 
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 20px;
}
a[href]
{ 
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 20px;
}